

/*******************************************************************************/
/* Various fixes */
/*******************************************************************************/

.category-main-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: var(--d-max-width);
    margin-left: 1em;
    text-align: left;
}

.category-banner-logo {
    align-self: center;
}


.voting .title-voting {
    padding-top: 0;
}

.title-voting {
    padding-right: 0;
    float: none;
    padding-bottom: 2em;
    
}

.voting-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.vote-button {
    border-radius: 0 10px 10px 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #6161ff;
    margin-top: 0;
}

.vote-count-wrapper {
    border-radius: 10px 0 0 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #6161ff;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    .vote-count {
        padding: 5px;
    }
}

#new-create-topic {
    background: #6161ff;
    color: #ffffff;
}


/* nav pills more padding */

.nav-pills > li > a {
    padding: 8px 16px;
}
.nav-pills > li.active {
    border: none;
}

/* padding on line below topic title with tags and votes should be 8px */

#topic-title .title-wrapper {
    padding-top: 16px;
    .topic-category {
        padding-top: 16px;
    }
}

/* same in topic lists */

.topic-list-item .link-bottom-line {
    padding-top: 8px;
    padding-bottom: 8px;
}

.topic-list-item .topic-list-data {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Above "recent discussions" (belongs in veratile showcase) */
.custom-homepage-columns {
    padding-top: 64px;
}

/* search banner padding */

.custom-search-banner-wrap {
    padding-top: 64px;
    padding-bottom: 64px;
}

